$navy-black: #08262c;
$navy-blue: #003b4f;
$teal-blue: #088199;
$gray: #c6ccd0;
$yellow: #e8b00f;
$white: #ffffff;
$red: #b30003;

@font-face {
	font-family: 'ITC Machine';
	src: url('fonts/MachineStd.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITC Machine Bold';
	src: url('fonts/MachineStd-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	background-color: $navy-black;
	height: 100vh;
}

header {
	background-color: $navy-blue;
	color: $gray;
	display: flex;
	justify-content: center;
	border-bottom: $yellow 1px solid;
	box-shadow: 0 0 10px $teal-blue;

	h1 {
		padding: 10px;
		margin: 0;
		font: 3em 'ITC Machine', monospace;
	}
}

button {
	background-color: $navy-blue;
	color: $white;
	border: none;
	padding: 5px;
}

button:hover {
	background-color: $yellow;
	cursor: pointer;
}

#alerts {
	margin: 10px;
	height: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;

	.alert-winner {
		color: $yellow;
	}
}

#game-container {
	width: 90%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.board-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		h2 {
			color: $yellow;
			width: fit-content;
		}
	}

	.game-board {
		width: 500px;
		height: 500px;
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(11, 1fr);
		grid-template-areas:
			'. column column column column column column column column column column'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board'
			'row board board board board board board board board board board';
		color: $white;
		justify-items: center;
		align-items: center;

		.game-board-column-indicator {
			//grid-area: column;
		}
		.game-board-row-indicator {
			//grid-area: row;
		}

		.game-board-placeable {
			grid-area: board;
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: repeat(10, 1fr);
			justify-items: center;
			align-items: center;
			width: 100%;
			height: 100%;
			grid-gap: 1px;

			.game-board-square-placeable {
				background-color: $teal-blue;
				width: 100%;
				height: 100%;
			}

			.populated {
				background-color: $yellow;
			}

			.attacked {
				position: relative;
				display: flex;
				align-items: center;
			}
			.attacked::after,
			.attacked::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 4px;
				background-color: $red;
			}

			.attacked::before {
				transform: rotate(45deg);
			}
			.attacked::after {
				transform: rotate(-45deg);
			}

			.miss::after,
			.miss::before {
				background-color: $gray;
			}

			.square-disabled {
				opacity: 70%;
			}

			.game-board-square-placeable div {
				width: 100%;
				height: 100%;
			}
		}
	}
}

#shipyard {
	width: 90%;
	display: flex;
	align-items: center;
	margin: 20px auto;
	padding: 20px;
	background-color: $teal-blue;
	justify-content: space-around;
	flex-wrap: wrap;

	.ship {
		display: grid;
		grid-gap: 1px;
		grid-template-columns: 44.5px;
		grid-auto-columns: 44.5px;
		flex-basis: 0;
		margin: 20px;

		div {
			background-color: $yellow;
			width: 44.5px;
			height: 44.5px;
		}
	}
	.horizontal {
		grid-auto-flow: column;
	}
}
